body{
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: gray;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 1em;
}

#display   {
    background-color: skyblue;
    width: auto;
    height: auto;
    padding: .5em;
    border-radius: .5em;
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
}

.keys {
    display: flex;
    flex-direction: column;
}

.operators{
    display: flex;
}

.numbers{
    display: flex;
}

.keys button{
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 40px;
}

.numbers button {
    background-color: cadetblue;
}

.operators button{
    background-color: black;
    color: skyblue;
}

#buttonClear{
    background-color: darkred;
    flex-grow: 1;
}

#buttonEnter{
    background-color: darkolivegreen;
    flex-grow: 3;
}